<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
	
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!--tohle je hlavička stránky-->
<header class="hlavicka">
    <h1 class="hlavicka_nazev">{{title}}</h1>
</header>


<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item"><a href="/" class="menu__link">Vítejte</a></li>
        <li class="menu__item"><a href="/fotogalerie/" class="menu__link">Fotogalerie</a></li>
        <li class="menu__item"><a href="/cenik/" class="menu__link">Ceník</a></li>
        <li class="menu__item"><a href="/kontakt/" class="menu__link">Kontakt</a></li>
    </ul>
</nav>

<main class="main">

    {{ content | safe }}

</main>

<!--patička stránky-->
<section class="patička">

<footer>
<p>© 2024 Olga Gusmanová
</p>
</footer>
</section>

</body>

</html>