<nav class="menu">
    <ul class="menu__list">
        <li class="menu__item"><a href="/" class="menu__link">Vítejte</a></li>
        <li class="menu__item"><a href="/fotogalerie/" class="menu__link">Fotogalerie</a></li>
        <li class="menu__item"><a href="/cenik/" class="menu__link">Ceník</a></li>
        <li class="menu__item"><a href="/kontakt/" class="menu__link">Kontakt</a></li>
        <li class="menu__item"><a href="/blog/" class="menu__link">Blog</a></li>
    </ul>
</nav>